/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #b8c1ec;
    background: white;

}

/* HEADER */

.barra {
    height: 75px;
    background-color: rgb(0, 132, 253);
    margin-bottom: 30px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    align-items: center;
}

.logo {
    height: 40px;
    margin-top: 15px;
}

.topbar>nav>ul>li {
    list-style: none;
    display: inline;
    padding-left: 15px;
    color: beige;
}

.menumobile {
    display: none;
}

.topbar>nav {
    margin-top: 20px;
}

.startbutton {
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
}

.topbar>nav>ul>li:nth-child(4) {
    padding-right: 10px;
}

.container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px
}

.demoapp {
    width: 66%;
    color: #6d7f8e;
    background-color: #b5ddff;
    border-radius: 25px;
    height: 350px;
    display: flex;
    margin-bottom: 20px;
}

.demoapptxt>h2 {
    padding: 30px 0 20px 20px;
    color: #0084fd;
}

.demoapptxt>p {
    padding: 10px 50px 20px 20px;
    font-weight: 700;
    line-height: 2.0rem;
    margin-bottom: 20px;
}

.demoapp>.phone>img {
    height: 300px;
}

.phone {
    align-self: flex-end;
    padding-right: 50px;
    margin-bottom: -5px;
}

.appstore {
    padding: 10px 50px;
    background-color: rgb(0, 132, 253);
    color: white;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    margin-left: 30px;
}

.demoappsmall {
    width: 32%;
    color: #6d7f8e;
    background-color: #b5ddff;
    border-radius: 25px;
    height: 350px;
}

.demoappsmall>h2 {
    padding: 30px 0 10px 0;
    color: #0084fd;
    text-align: center;
    font-size: 5rem;
}

.demoappsmall>h3 {
    color: #0084fd;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 1000;
    padding-bottom: 15px;
}

.demoappsmall>p {
    font-weight: 700;
    line-height: 2.2rem;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 1000;
    padding: 0 5px 0 5px;
}

.demoappsmallsub {
    width: 32%;
    color: #6d7f8e;
    background-color: #b5ddff;
    border-radius: 25px;
    height: 350px;
}

.demoappsmallsub>h2 {
    padding: 30px 0 10px 0;
    color: #0084fd;
    text-align: center;
    font-size: 5rem;
}

.demoappsmallsub>h3 {
    color: #0084fd;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 1000;
    padding-bottom: 15px;
}

.demoappsmallsub>p {
    font-weight: 700;
    line-height: 2.2rem;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 1000;
    padding: 0 5px 0 5px;
}

.secondrow {
    display: flex;
    justify-content: space-between;
}

/* STRATEGIC */

.strategic {
    background-color: #9593e6;
}

.stratcol {
    width: 40%;
}

.stratcontainer {
    display: flex;
    min-width: 300px;
    justify-content: center;
    padding: 20px;
}

.stratcol {
    margin: 20px;
}

.planimg {
    width: 100%;
    margin-bottom: 90px;
}

.devimg {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.planning>h3 {
    color: white;
    font-size: 1.2rem;
    padding-bottom: 30px
}

.planning>p {
    color: white;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

.devving {
    background-color: white;
    border-radius: 30px;
    margin-top: 150px;
    justify-content: center;
}

.devving>h3 {
    color: black;
    font-weight: 1000;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
}

.devving>p {
    text-align: center;
    font-style: italic;
    color: black;
    line-height: 1.3rem;
    font-size: 0.8rem;
    padding: 0 20px 0 20px;
    padding-bottom: 20px;
}

.devdown {
    padding: 10px 20px;
    background-color: #9593e6;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* PARTNER */

.partner>.container>h3 {
    color: black;
    text-align: center;
    width: 100%;
    padding: 0px 0 30px 0;
}

.partner>.container>h1 {
    color: #9593e6;
    text-align: center;
    width: 100%;
    font-size: 2.3rem;
    padding-bottom: 30px;
}

.partner>.container>p {
    font-size: 1.2rem;
    text-align: center;
    color: black;
    line-height: 2rem;
    padding-bottom: 40px;
}

.cardbox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card {
    background-color: #9593e6;
    border-radius: 30px;
    display: flex;
    margin-bottom: 20px;
}

.testim {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.testim>img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}

.testimhead {
    padding: 20px;

}

.card>p {
    align-self: center;
    padding-left: 30px;
    line-height: 2rem;
    color: white;
}

.name {
    font-weight: 700;
    letter-spacing: 0.1rem;
}








/* TABLET */

/* TABLET */

@media screen and (max-width: 1240px) {
    * {
        max-width: 1540px;
    }

    .menu {
        display: none;
    }

    .menumobile {
        display: inline;
        color: beige;
        font-size: 30px;
    }

    .container {
        display: flex;
        max-width: 740px;
        min-width: 400px;
        margin: auto;
        justify-content: space-between;
    }

    .topbar {
        display: flex;
        margin: auto;
        align-items: center;
        max-width: 740px;
    }

    .demoapp {
        width: 66%;
        min-height: 550px;
        flex-direction: column;
        min-width: 60%;
        margin-bottom: 20px;
    }

    .demoapptxt {
        height: 300px;
        font-size: 1rem;
        text-align: left;
        margin: 0;
    }

    .demoapptxt>p {
        padding: 20px;
    }

    .appbutton {
        align-self: flex-start;
    }

    .phone {
        align-self: flex-start;
        justify-content: center;
        padding: 0px;
    }


    .demoappsmall {
        min-width: 32%;
        min-height: 550px;
    }

    .demoappsmall,
    .demoappsmallsub {
        margin-bottom: 20px;
    }

    .demoappsmallsub {
        min-height: 450px;
        margin-bottom: 20px;
    }

    .secondrow {
        flex-wrap: wrap;
    }

    header>.container {
        margin-bottom: 60px;
    }

    /* STRATEGIC */


    .stratcontainer {
        display: flex;
        flex-wrap: wrap;
        min-width: 641px;
        padding: 0px;
    }

    .stratcol {
        width: 640px;
    }

    .planimg {
        width: 100%;
        margin-bottom: 60px;
    }

    .devving {
        margin-top: 20px;
    }

    .planning>h3 {
        font-size: 1.5rem;
    }

    .strategic>.container {
        margin-bottom: 60px;
    }

    .stratcontainer {
        margin-bottom: 60px;
    }

    .planning>h3 {
        font-size: 3rem;
    }

    /* PARTNERS */

    .card {
        align-items: center;

    }

    .card>p {
        text-align: left;
        padding: 30px 30px 60px 30px;
    }

}


















/* MOBILE */

/* HEADER */

@media screen and (max-width: 640px) {
    * {
        max-width: 640px;
    }

    .menu {
        display: none;
    }

    .menumobile {
        display: inline;
        color: beige;
        font-size: 30px;
        margin-right: -50px;
    }

    .logo {
        margin-left: -30px;
    }

    .topbar {
        display: flex;
        margin: auto;
        align-items: center;
        max-width: 250px;
    }

    .container {
        flex-direction: column;
        max-width: 600px;
        min-width: 300px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .demoapp {
        height: 600px;
        flex-direction: column;
        margin-bottom: 20px;
        min-width: 350px;
        max-width: 600px;
    }

    .demoapptxt {
        height: 300px;
        min-width: 100%;
        font-size: 1rem;
        text-align: center;
        margin: 0;
    }

    .demoapptxt>p {
        padding: 20px;
    }

    .appstore {
        margin: 0 auto;
    }

    .phone {
        align-self: center;
        justify-content: center;
        padding: 0px;
    }

    .demoappsmall,
    .demoappsmallsub {
        margin-bottom: 20px;
        min-width: 350px;
        max-width: 600px;
        min-height: 350px;
    }

    .secondrow {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header>.container {
        margin-bottom: 60px;
    }

    /* STRATEGIC */


    .stratcontainer {
        display: flex;
        flex-wrap: wrap;
        min-width: 350px;
        max-width: 600px;
        padding: 0px;
    }

    .stratcol {
        width: 350px;
    }

    .planimg {
        width: 100%;
        margin-bottom: 60px;
    }

    .devving {
        margin-top: 20px;
    }

    .planning>h3 {
        font-size: 1.5rem;
    }

    .strategic>.container {
        margin-bottom: 60px;
    }

    .stratcontainer {
        margin-bottom: 60px;
    }

    /* PARTNERS */


    .card {
        flex-direction: column;
        align-items: center;

    }

    .card>p {
        text-align: center;
        padding: 10px;
    }

}